<h1><%= @patient.name %> <%= @patient.age %></h1>



<% @patient.appointments.each do |appointment| %>
  <span style="color:blue"><%= appointment.doctor.name %></span>
  <%= appointment.human_date %>
<% end %>
